bodyTemp {
    background-color: lightblue;
}

.textSample {
    color:red;
    font-size: 100px;
}

<link rel="stylesheet" href="https://github.com/MaybeRiaan/TestNCC/blob/master/test.css">
